<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-calendar-check"></i> XIV Static Scheduler</a>
  </div>
</nav>
