<div class="col-md-6">
  <label for="first_name" class="form-label">名*</label>
  <input type="text" class="form-control" id="first_name" name="first_name" required pattern="^[A-Z][a-z'\-]{1,14}$">
</div>
<div class="col-md-6">
  <label for="last-name" class="form-label">姓*</label>
  <input type="text" class="form-control" id="last_name" name="last_name" required pattern="^[A-Z][a-z'\-]{1,14}$">
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-12 form-text"><i class="bi bi-check-circle"></i> ゲーム内の姓名を入力してください。</p>
