<div class="col-lg-6 mx-auto">
  {{> admin/nav active='party' partyId=party.ulid }}
  <h3>パーティー編集</h3>
  <form method="post" name="edit" action="/admin/party?partyId={{party.ulid}}">
  <div class="row g-3 justify-content-center">
    <div class="col-md-12">
      <label for="party_name" class="form-label">パーティ名</label>
      <input type="text"
             class="form-control"
             id="party_name"
             name="partyName"
             value="{{ party.name }}"
      >
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-6">
      <button type="submit" class="btn w-100 btn-primary"><i class="bi bi-person-plus-fill"></i> 編集する</button>
    </div>
  </div>
  {{> csrf_token }}
  </form>
</div>

<hr class="my-5">

<div class="col-lg-6 mx-auto">
  <h3>パーティー削除</h3>
  <form method="post" name="delete" action="/admin/party/delete?partyId={{party.ulid}}">
  <div class="row g-3 justify-content-center">
    <div class="col-md-12">
      <input type="text" class="form-control" placeholder="Delete" required pattern="^Delete$">
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <p class="col-md-12 form-text">
      <i class="bi bi-exclamation-triangle-fill"></i> 削除されたデータは元に戻りません。本当に削除する場合は"Delete"と入力してください
    </p>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-6">
      <button type="submit" class="btn w-100 btn-outline-danger"><i class="bi bi-person-x-fill"></i> 削除する</button>
    </div>
  </div>
  {{> csrf_token }}
  </form>
</div>
