<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">光のスケジューラー</h1>
  <div class="col-lg-6 mx-auto">
    <img src="assets/img/calender_woman.png" width="400" height="370" alt="光のスケジューラー">
    <p class="lead mb-4">Scheduler of Lightは固定の<br>スケジュール管理を応援するサービスです。</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/sign-up">
        <i class="bi bi-people"></i> パーティーをつくってみる
      </a>
    </div>
  </div>
</div>
<div class="col-lg-4 mx-auto">
  <h2><i class="bi bi-gear-fill"></i>実装予定の機能</h2>
  <dl>
    <li>火曜日はじまりの週間カレンダー</li>
    <li>Discordで固定開催前に通知</li>
    <li>その他めんどくさくないやつ</li>
  </dl>
</div>
