<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">固定の開催予定を決めよう！</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">XIV Static Schedulerは固定の<br>スケジュール管理を応援するサービスです。</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="resume/create">
        <i class="bi bi-people"></i> チームをつくってみる
      </a>
    </div>
  </div>
</div>
