<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/img/rirekisyo_woman.png" alt="固定用レジュメをつくろう！" width="185" height="200">
  <h1 class="display-5 fw-bold">固定用レジュメをつくろう！!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">FF14 Resumeは固定パーティーを探したい人の<br>レジュメづくりを応援するサービスです。</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="resume/create">
        <i class="bi bi-pencil"></i> つくってみる
      </a>
    </div>
  </div>
</div>
