<h3>禁止事項</h3>
<p>禁止事項に抵触すると判断した投稿について、管理者は事前の通知なく削除を行うことがあります。</p>
<ol>
  <li>法令または公序良俗に反する行為</li>
  <li>他のユーザーに関する情報等を収集または蓄積する行為</li>
  <li>第三者に不利益，損害，不快感を与えることを目的とする行為</li>
  <li>管理者が想定した利用目的を逸脱した行為</li>
  <li>その他管理者が相応しくないと判断した行為</li>
</ol>

<h3>免責事項</h3>
<ul>
  <li>
    管理者は、本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
  </li>
  <li>管理者は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。</li>
  <li>管理者は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</li>
</ul>

<h3>アクセス解析ツールについて</h3>
<p>
  当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
  このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
</p>
