<div class="col-md-3">
  <label for="first-name" class="form-label">名*</label>
  <input type="text" class="form-control" id="first-name" name="first-name" required pattern="^[A-Z][a-z'\-]{1,14}$">
</div>
<div class="col-md-3">
  <label for="last-name" class="form-label">姓*</label>
  <input type="text" class="form-control" id="last-name" name="last-name" required pattern="^[A-Z][a-z'\-]{1,14}$">
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-6 form-text"><i class="bi bi-check-circle"></i> ゲーム内の姓名を入力してください。</p>
