<div class="col-md-6">
  <label for="active-time" class="form-label">プレイ時間帯</label>
  <input type="text" class="form-control" id="active-time" name="active-time">
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-6 form-text">
  <i class="bi bi-emoji-smile"></i> (例: 平日21:00-24:00, 休日19:00-24:00)
</p>
