<div class="col-md-6">
  <label for="character-id" class="form-label">Lodestone URL*</label>
  <div class="input-group">
    <span class="input-group-text"><i
      class="bi bi-link-45deg"></i>https://jp.finalfantasyxiv.com/lodestone/character/</span>
    <input type="text" class="form-control" id="character-id" name="character-id" required pattern="^\d+$">
  </div>
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-6 form-text">
  <i class="bi bi-check-circle"></i> <a href="https://jp.finalfantasyxiv.com/lodestone/my/" target="_blank"
                                        rel="noreferrer noopener">Lodestone</a>
  の「マイキャラクター」ページのURLの末尾の数字を入力してください。
</p>
