<div class="col-md-3">
  <label for="password" class="form-label">編集・削除用パスワード*</label>
  <input type="password" class="form-control" id="password" name="password" required
         pattern="^(?=.*?[A-Za-z])(?=.*?\d)[A-Za-z\d]{8,100}$">
</div>
<div class="col-md-3">
  <label for="confirm-password" class="form-label">編集・削除用パスワード(確認用)*</label>
  <input type="password" class="form-control" id="confirm-password" required>
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-6 form-text">
  <i class="bi bi-check-circle"></i> 半角アルファベットと半角数字をそれぞれ1文字以上含めて8文字以上入力してください。<br>
</p>
