<div class="col-md-3">
  <label for="twitter-id" class="form-label">Twitter ID</label>
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-twitter"></i>@</span>
    <input type="text" class="form-control" id="twitter-id" name="twitter-id">
  </div>
</div>
<div class="col-md-3">
  <label for="discord-id" class="form-label">discord ID</label>
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-discord"></i></span>
    <input type="text" class="form-control" id="discord-id" name="discord-id">
  </div>
</div>
