<div class="col-lg-6 mx-auto">
  <h2>パーティー作成完了</h2>
  <p>
    パーティーが作成されました。以下のURLをDiscoedなどでメンバーに共有してください。<br>
    メンバーの出欠確認は以下のURLからおこないます。
  </p>
  <input class="form-control" type="text" readonly value="{{ spaceUrl }}">
  <hr>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/admin/member?spaceId={{ spaceId }}">
    <i class="bi bi-people"></i> メンバーを追加する
    </a>
  </div>
</div>
