<div class="col-lg-6 mx-auto">
  <form method="post" action="/sign-up">
    <fieldset>
      {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      {{/if}}
      <legend>パーティIDを決めてください。</legend>
      <div class="col-auto">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="party_name"
                 id="party_name"
                 placeholder="パーティ名"
                 required
                 pattern="^[a-z\-]{1,16}$">
          <small class="mt-3">半角英数字と、ハイフン（-）のみ設定できます。</small>
        </div>
      </div>
    </fieldset>
    <hr>
    {{> csrf_token }}
    <button type="submit" class="btn btn-primary">パーティーを作る</button>
    <p>パーティーを作ると <a href="/terms">利用規約</a> に同意したとみなされます。</p>
  </form>
</div>
