<div class="col-lg-6 mx-auto">
  <form method="post" action="/sign-up">
    <fieldset>
      <legend>パーティ名を入力してください。</legend>
      <div class="col-auto">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="party_name"
                 id="party_name"
                 placeholder="パーティ名"
                 required>
        </div>
      </div>
    </fieldset>
    <hr>
    {{> csrf_token }}
    <button type="submit" class="btn btn-primary">パーティーを作る</button>
    <p>パーティーを作ると <a href="/terms">利用規約</a> に同意したとみなされます。</p>
  </form>
</div>
