<div class="col-lg-6 mx-auto">
  <h2>パーティーの作成</h2>
  <form method="post" action="/sign-up">
    <fieldset>
      <p>パーティー名を入力してください。</p>
      <div class="col-auto">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="partyName"
                 placeholder="たのしいパーティー名をつけてね"
                 required>
        </div>
      </div>
    </fieldset>
    <hr>
    {{> csrf_token }}
    <button type="submit" class="btn btn-primary">パーティーを作る</button>
    <p class="mt-3">パーティーを作ると <a href="/terms">利用規約</a> に同意したとみなされます。</p>
  </form>
</div>
