<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item">
    <a class="nav-link {{#xif active '==' 'member'}} active {{/xif}}"
      {{#xif active '==' 'member'}} aria-current="page"{{/xif}}
       href="/admin/member?partyId={{ partyId }}">メンバー設定</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       href="#">パーティー設定</a>
  </li>
</ul>
